.game-table > div > div{
    width: 100px;
    height: 100px;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

.game-table > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dado-pc{
    background-color: lightcoral;
}

.dado-utente{
    background-color: rgb(0, 0, 255);
}

.risultato{
    font-size: 30px;
    color: green;

}
.button-container{
    margin: 0 auto;
}